.profile
  padding 5em
  font-size 4em
  text-align center

.editIcons {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editSizeIcons {
  font-size: 2em;
}

.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.Img-perfil{
  list-style: none !important;
}
.cropArea
  background #E4E4E4
  overflow hidden
  width 500px
  height 350px
